
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}

.navbar {
    background-color: black;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: orange;
}


nav button {
    background-color: orange;
    color: black;
    border: none;
    padding: 10px 18px;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}

nav button:hover {
    background-color: white;
}

.hero {
    padding: 80px 40px;
    text-align: center;
}

.hero h1 {
    color: orange;
    font-size: 36px;
}

.hero p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
}


.content {
    padding: 60px 40px;
    text-align: center;
}

.content h2 {
    color: orange;
}

.dark {
    background-color: black
    color: white;
      padding-left: 28rem;
}

ul {
    list-style: none;
    padding: 0;
  
}

ul li {
    padding: 10px;
    font-size: 18px;
}

.form {
    width: 22rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    outline: 1px solid black;
    height: 24rem;
    
}

.form input,
.form textarea {
    margin: 8px 0;
    padding: 10px;
    border: 1px solid black;
}
.form input{
    padding-left: 2rem;
   
    border: 1px solid black;
}


.form button {
    background-color: orange;
    border: none;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
}

.form button:hover {
    background-color: black;
    color: white;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 16px;
}
#login{
    width: 100%;
    height: 4rem;
    background-color: rgb(255, 164, 6);
    margin-top: -0.1rem;
    color: white;
    padding-top: 1.5rem;

}
.signupform{
    outline: none;
    

}
.signupform, input{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 18rem;
    
}
fieldset{
    color: aqua;
    width: 20rem;
    height: 23rem;
    padding-left: 0;
    margin-left: 28rem;
    margin-bottom: 2rem;
    margin-top: ;
    
}
#hm{
    margin-tp: 20rem;
}
#imgh{
    padding-bottom: 6rem;
    padding-left: 4rem;
    padding-top: -80rem;
}
#hm{ 
   
    
}


}